.hero {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('https://sc02.alicdn.com/kf/A11f09cdf068045b0b2eb016eb1d375673.png') no-repeat center center/cover;
    color: var(--white);
    padding: 120px 0;
    position: relative;
    overflow: hidden;
}
